html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
}

body {
  background-image: url('https://i.postimg.cc/SNPvHczm/fundo-gradiente-desfocado-na-cor-rosa-58702-1643.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#titulo {
  color: #ffe4ec;
  font-family: Times New Roman;
  font-weight: bold;
  font-style: italic;
  position: relative;
  letter-spacing: 0.5px;
  font-size: 50px;
  display: flex;
  padding: 75px;
  justify-content: center;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}
#botao {
  font-size: 25px;
  color: black;
  border: 2px none black;
  font-family: Times New Roman;
  border-radius: 10px;
}

#botao:hover {
  background-color: lime;
  border: 2px solid cyan;
}

#x {
  color: #ff4e;
  font-family: Times New Roman;
  position: relative;
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  align-items: center;
  padding: 50px;
  text-align: center;
}
